.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    padding: 20px 20px 10px 20px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #ccc;
}

.header img {
    width: 20px;
    height: auto;
}

.corp-text {
    font-size: 15px;
    font-weight: 100;
    margin-left: 10px;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-text {
    text-align: center;
    padding: 0 16px;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 100;
}
.shop-btn {
    background-color: #5b5959;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
}

/* MÓVIL */
@media (max-width: 420px) {
    .header {
        padding: 15px;
    }

    .home-link img {
        width: 45px;
        height: 45px;
    }

    .home-text {
        font-size: 16px;
        margin-left: 8px;
    }

    .header .adalab-logo {
        width: 100px;
    }

    .header-text h1 {
        font-size: 1.8rem;
        margin: 10px;
    }

    .header-text p {
        font-size: 18px;
        line-height: 1.4;
    }
}

/* TABLET PEQUEÑA */
@media (max-width: 560px) {
    .header-text h1 {
        font-size: 1.5rem;
    }

    .header-text p {
        font-size: 20px;
    }
}
