.weather-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-right: 30px;
}

.weather-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: rgb(40, 40, 137);
    color: white;
    border-radius: 15px;
    width: 90%;
}

.city-name {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.small-widget-data {
    font-size: 10px;
    color: #ddd;
    margin-bottom: 5px;
}

.temp {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

@media (max-width: 700px) {
    .weather-cont {
        margin-top: 80px;
        margin-right: 0;
    }
    .weather-widget {
        width: 90%;
    }
    .categories {
        display: none;
    }
}

@media (max-width: 500px) {
    .weather-widget {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        width: 90%;
    }

    /* ocultamos datos secundarios */
    .small-widget-data {
        display: none;
    }

    /* ocultamos descripción del clima */
    .weather-descrip {
        display: none;
    }

    /* ciudad más pequeña */
    .city-name {
        font-size: 14px;
        margin: 0;
    }

    /* temperatura más compacta */
    .temp {
        font-size: 20px;
        margin: 0;
    }

    /* icono más pequeño */
    .weather-widget img {
        width: 40px;
        height: 40px;
    }
    .categories {
        display: none;
    }
}
